*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    margin: auto;
    background-color: #FFF6F6;
    font-family: 'Poppins',sans-serif;
}
.HeaderBackground
{
    background-color:whitesmoke;
    width: 100vw;
    color:#FFF6F6;
    opacity: 0.9;
}

footer{
    padding: 3rem;
    text-align: center;
    background-color:whitesmoke;
    opacity: 0.9;
}

footer a{
    text-decoration: none;
}

main{
    margin: 5%;
}

a{
    text-decoration: none;
    color: black;
}