body{
    background-image: url(../Image/fade/9.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.infoBox{
    border-radius: 12px;
    margin-top: 10px;
    padding: 10px;
    padding-top: 1px;
    background-color: #E3CAA3;
    opacity:0.9;
}

.box{
    margin: auto;
    font-size: 18px;
    justify-content: center;
    text-align: center;
}

.box a{
    color: #dc3545;
    text-decoration: none;
}

.infoImg{
    width: 75%;
    border: 2px red solid;
}

.box1{
    background-color: red;
    width: 300px;
    height: 300px;
    margin: 10px 10px;
    display: inline-block;
}